<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Ondřej Kubíček - freelancer</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Ondřej Kubíček, www.kubon.cz">
	<meta name="description" content="Frontend and Backend web developer">

	<link href="http://fonts.googleapis.com/css?family=Roboto:300,400&amp;subset=latin,latin-ext" rel="stylesheet">
	<link rel="stylesheet" href="{$basePath}/assets/combined.css">
</head>
<body>

	<section>
		<div class="inner">
		{include #content}
		</div>
	</section>

	<div class="bg">
		<div class="overlay"></div>
	</div>
</body>
</html>