{layout '@layout.latte'}

{block #content}

	<h1><span class="profile"></span>Ondřej Kubíček</h1>
	<h2>Programátor &amp; Android vývojář</h2>
	<p>webové aplikace - PHP, Angular2 Dart, HTML5, CSS3<br>Flutter - aplikace pro platformy Android a iOS</p>

	<a href="https://github.com/ondrakub">Github</a>
	<a href="https://cz.linkedin.com/in/ondrakub">LinkedIn</a>
