{layout '@layout.latte'}

{block #content}

	<h1><span class="profile"></span>Ondřej Kubíček</h1>
	<h2>Programátor</h2>
	<p>(webové aplikace - HTML5, CSS3-Less, JS-jQuery, PHP)</p>

	<a href="https://github.com/ondrakub">Github</a>
	<a href="https://cz.linkedin.com/in/ondrakub">LinkedIn</a>
