{layout '@layout.latte'}

{block #content}

	<h1><span class="profile"></span>Ondřej Kubíček</h1>
	<h2>Programmer PHP &amp; Android developer</h2>
	<p>fully web apps - PHP, Angular2 Dart, HTML5, CSS3<br>Flutter - apps for the Android and the iOS platforms</p>

	<a href="https://github.com/ondrakub">Github</a>
	<a href="https://cz.linkedin.com/in/ondrakub">LinkedIn</a>